.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: center no-repeat;
}
.icon--correct {
    background-image: url('correct.png');
}
.icon--error {
    background-image: url('error.png');
}

.attempt-answers {
    padding: 20px;
}
.attempt-answers--title
{
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
    margin: 1em 0;
}

.attempt-answers table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
.attempt-answers table th {
    background: #f3f3f3;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: normal;
}
.attempt-answers table th:first-child {
    border-radius: 10px 0 0 10px;
}
.attempt-answers table th:last-child {
    border-radius: 0 10px 10px 0;
}
.attempt-answers table td {
    padding: 25px 15px;
}
.attempt-answers table td.col-question {
    width: 35%;
}
.attempt-answers table td.col-answer {
    width: 60%;
}
.attempt-answers table td.col-result {
    width: 100px;
    text-align: center;
}

.attempt-answers--wrong-answer {
    color: #ff5722;
}
.attempt-answers--correct-answer {
    color: #4caf50;
}

.attempt-answers table th {
    text-align: left;
}
.attempt-answers table td {
    border-bottom: 2px solid #e6e6e6;
}
.attempt-answers a {
    color: #8fb6bc;
}
.attempt-answers .status--completed {
    color: #6d964e;
}
.attempt-answers .status--doing {
}