.bookmark-list--title
{
    font-weight: bold;
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.bookmark-list table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
.bookmark-list table th,
.bookmark-list table td {
    padding: 6px 10px;
}
.bookmark-list table td:first-child, .bookmark-list table th:first-child {
    padding-left: 5px;
}

.bookmark-list table th {
    border-bottom: 2px solid #e6e6e6;
    text-align: left;
}
.bookmark-list table td {
    border-bottom: 1px solid #e6e6e6;
}
.bookmark-list a {
    color: #8fb6bc;
}
