<div class="wrap-pl-1 wrap-pr-1 pt-lg-112 pt-md-96 pt-48">
	{% view '^subcategories' with {
		subcategories: subcategories
	} %}
</div>
<div class="wrap-pl-1 wrap-pr-1 pt-lg-112 pt-md-96 pt-48 pb-md-64 pb-40 bg-light bg-wings">
	{% view '&text-column' with {
		text_column: text_column
	} %}
</div>
{% if text_column_desc.subtitle %}
	<div class="wrap-pl-1 wrap-pr-1 pb-lg-112 pb-md-96 pb-48">
		{% view '&text-column' with {
			text_column: text_column_desc
		} %}
	</div>
{% endif %}