.header-user-info {
    position: absolute;
    right: calc(100% + 85px);
    font-size: 12px;
    color: #313030;
}

.header-user-info__fio {
    margin-bottom: 8px;
    white-space: nowrap;
}

.header-user-info__company {
    white-space: nowrap;
}